BRAND_NAME="Your App Name"
MAX_UPLOAD_SIZE="30M" # The maximum size for attachment uploads. Keep in mind APIs don't support infinite size attachments.
SECRET_KEY="changeme123" # Keep this safe! It's like a password for the site. Make it a long string of random characters.
OPENAI_API_KEY="sk-proj-xxx" # Your OpenAI API key, if using
OPENAI_BASE_URL="https://api.openai.com/v1" # Base URL for the OpenAI API client. Defaults to this value.
