brand:
  company_name: Anthropic
  app_name: Claude
  ai_name: Claude

external_links:
  privacy_policy: https://www.anthropic.com/legal/privacy
  terms_of_service: https://www.anthropic.com/legal/consumer-terms
  usage_policy: https://www.anthropic.com/legal/aup
  disclaimer: https://support.anthropic.com/en/articles/8525154-claude-is-providing-incorrect-or-misleading-responses-what-s-going-on

general:
  max_upload_size: 30M # Maximum upload size
  secret_key: !ENV ${SECRET_KEY} # Used to sign session cookies

generation:
  provider:
    type: openai # Or "anthropic"
    api_key: !ENV ${AI_API_KEY}
    base_url: https://api.openai.com
  title_model: gpt-4o-mini # Model used for generating chat titles
  models:
    - name: Model 1
      description: Our most powerful model
      id: model-1
      default: true
    - name: Model 2
      description: Fast reasoning capabilities
      id: model-2
