brand:
  brand_name: Your App Name  # Name of your app e.g. "CoolChatApp"
  ai_name: AI Name           # The name of your AI model e.g. "Dave the AI" (you can set this as your app name)

general:
  max_upload_size: 30M # Maximum upload size
  secret_key: !ENV ${SECRET_KEY} # Used to sign session cookies

generation:
  provider:
    type: openai # Or "anthropic"
    api_key: !ENV ${AI_API_KEY}
    base_url: https://api.openai.com
  title_model: gpt-4o-mini # Model used for generating chat titles
  models:
    - name: Model 1
      description: Our most powerful model
      id: model-1
      default: true
    - name: Model 2
      description: Fast reasoning capabilities
      id: model-2
