main {
	flex-grow: 1;
}

aside {
	width: 18rem;
	border-right: var(--border);
	padding: var(--size-md);
	display: flex;
	flex-direction: column;
	gap: var(--size-lg);
	font-family: var(--font-sans);
}

h2.logo {
	font-size: 1.3rem;
	font-family: var(--font-serif);
	padding: 0 var(--size-sm);
}

aside a {
	text-decoration: none;
	display: flex;
	gap: var(--size-md);
	align-items: center;
	color: var(--text-secondary);
	padding: var(--size-sm);
	margin: var(--size-sm) 0;
	border-radius: var(--size-sm);
	font-size: var(--text-sm);
}

aside a:hover {
	background: var(--bg-4)
}

aside .action-icon {
	border-radius: 50%;
	background: var(--bg-secondary);
	height: 24px;
	width: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: var(--text-md);
}
