@font-face {
	font-family: "Gelasio";
	src: url("/static/font/Gelasio.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

:root {
	--bg-primary: #262626; /* Main background */
	--bg-secondary: #30302E; /* Modals */
	--bg-tertiary: #1F1E1D; /* Some input fields */
	--bg-4: #141413; /* Messages, selected chats */
	--bg-5: #2B2B29; /* Code blocks (assistant) */
	--bg-6: #222220; /* Code blocks (user) */

	--text-primary: #FAF9F5; /* Most text */
	--text-secondary: #C2C0B6; /* Subheadings */
	--text-tertiary: #9B9991; /* Descriptions */

	--font-serif: Gelasio, Georgia, "Times New Roman", Times, serif;
	--font-sans: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

	--brand-primary: #C6613F; /* Send button */
	--brand-secondary: #FE8181; /* Inline code */
	--accent-primary: #2C84DB; /* Static links, notification bubbles */

	--warning: #DA9E25;
	--danger: #DD5353;
	--success: #65BB30;

	--border-color: 51 16.5% 84.5%; /* This is HSL */
	--border-width: 1px;
	--border: hsl(var(--border-color) / .15) var(--border-width) solid; /* Shorthand for the most common border */

	/* Sizes are for padding, margin and border-radius among other things */
	--size-sm: 4px;
	--size-md: 8px;
	--size-lg: 16px;

	--text-sm: 0.875rem;
	--text-md: 1rem;
}

*, *::before, *::after {
	box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
	margin: 0;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	font-family: var(--font-serif);
	color: var(--text-primary);
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

main, aside {
	background: var(--bg-primary)
}

button {
	cursor: pointer;
}
