{% from "macros.html" import symbol %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ BRAND_NAME }}</title>
		<link rel="stylesheet" href="{{ url_for('static', path='/css/theme.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
	</head>
	<body>
		<svg style="display:none" aria-hidden="true">
			{% for icon in ICONS %}
				{{ symbol(icon) }}
			{% endfor %}
		</svg>

		<aside>
			{% include "sidebar.html" %}
		</aside>
		<main>
			{% block content %}{% endblock %}
		</main>
	</body>
</html>
